html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    color: #333;
    overflow-x:hidden;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #333;
}


/*
::-webkit-scrollbar {
  width: 0px;
}
*/

/*ANIMAZIONI*/

@keyframes wobble-hor-top {
	0%,
	100% {
	  -webkit-transform: translateX(0%);
			  transform: translateX(0%);
	  -webkit-transform-origin: 50% 50%;
			  transform-origin: 50% 50%;
	}
	15% {
	  -webkit-transform: translateX(-30px) rotate(6deg);
			  transform: translateX(-30px) rotate(6deg);
	}
	30% {
	  -webkit-transform: translateX(15px) rotate(-6deg);
			  transform: translateX(15px) rotate(-6deg);
	}
	45% {
	  -webkit-transform: translateX(-15px) rotate(3.6deg);
			  transform: translateX(-15px) rotate(3.6deg);
	}
	60% {
	  -webkit-transform: translateX(9px) rotate(-2.4deg);
			  transform: translateX(9px) rotate(-2.4deg);
	}
	75% {
	  -webkit-transform: translateX(-6px) rotate(1.2deg);
			  transform: translateX(-6px) rotate(1.2deg);
	}
  }
	 
	@keyframes pop {
		0%  {transform: scale(0);}
		60%  {transform: scale(1.2);}
		80%  {transform: scale(0.8);}
		100%  {transform: scale(1);}
  }

/* GENERALE */

h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 3em;
}

h2 {
  font-family: 'Cabin', sans-serif;
    font-size: 2em;
}

h3 {
  font-family: 'Cabin', sans-serif;
    font-size: 1.5em;
}

hr {
  border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* STRUTTURA PER FAR STARE L'ANIMAZIONE SOTTO LA HERO SECTION */

.animazione {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  overflow: hidden;
}

/* CANVAS PER L'ANIMAZIONE */

#particles-js{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  background-image: url('');
  background-size: 100% 50%;
  background-position: left bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

/* HEADER -.-' */

header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px auto 1fr;
    z-index: 2;
}

/* NAVBAR */

nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.navWrapper {
    height: 30px;
    margin: 10px 20px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }

  .navWrapper * {
    margin: 0px 10px;
    text-align: center;
    }


.navTesto {
  font-size: 0.9em;
}

.navIcon {
    display: none;
}

/* HERO SECTION */

#hero {
	grid-row-start: 3;
	grid-row-end: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../img/header/sfondo-hero.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: left bottom;

 } 
 
 #hero h1 {
	margin-bottom: 0px;
	text-decoration: underline;
    text-decoration-color: aquamarine;
 }

 #hero p {
	margin: 20px 0px;
 } 

#barraAndBtn {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0px;
	overflow: visible;
	padding: 0px;
}

  #barraRicerca {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	width: 260px;
	height: 40px;
	padding-left: 10px;
	margin: 0px;
	margin-right: 15px;
	border: 1px solid lightgrey;
	border-radius: 15px;
	text-align: center;
  }

  #barraRicerca:active, #go:active {
	  outline: none;
  }

  #barraRicerca:focus, #go:focus {
	outline: none;
}

#barraRicerca:focus + #go {
	transform: translateY(-3px);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
	transition: 0.5s ease-in;
}


#barraRicerca:valid + #go {
	transform: translateY(-3px);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
	transition: 0.5s ease-in;
}

  #go {
	height: 45px;
	width: 45px;
	margin: 0px;
	text-align: center;
	border: 1px solid aquamarine;
	border-radius: 50%;
	background-color: aquamarine;
	cursor: pointer;
	transition: 0.5s ease-in;
  }

  #go i {
	  font-size: 24px;
	  color: #333;
  }
  

  #dD {
	margin-top: 15px;
	margin-right: 60px;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	background-color: white;
	width: 260px;
	overflow: hidden;
	text-align: center;
  }

  #dD p {
	height: 30px;
	padding: 10px;
	border-bottom: 1px solid lightgray;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#dD p:hover {
	background-color: rgb(180, 255, 255);
}

  .focusDD {
	background-color: aquamarine;
  }

  .inComune {
	  font-weight: bold;
  }


/* GENERALE SEZIONI DEL CORPO CV */

.titoloSezione hr {
  width: 70%;
  margin-left: 10%;
}

.titoloSezione h2 {
  margin-left: 10%;
}

/* SKILLS */

.sezioneSkills {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
  cursor: grab;
  -webkit-overflow-scrolling: touch; 
  scrollbar-width: none;
}


.sezioneSkills::-webkit-scrollbar {
  width: 0px;
}


.sezioneSkills:active{
  cursor: grabbing;
}

.skillContainer {
  flex: 0 0 auto;
  width: 350px;
  margin: 20px 0px 20px 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 1fr;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skillContainer hr {
  width: 100%;
  margin-left: 0px;
}

.skillContainer:first-child {
  margin-left: 10%;
}

.titoletto {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.titoletto h3 {
  display: inline-block;
  text-align: center;
  margin: 5px 0px;
}

.titoletto * {
  padding: 10px;
}

.listaSkills {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: flex-start;
  align-content: flex-start;
}

.specificSkill {
  display: inline-block;
  flex-grow: 1;
  color: white;
  margin: 5px;
  padding: 0 5px;
  text-align: center;
  border-radius: 5px;
  background-color: #726fb9;
  background-image: linear-gradient(to left top, #726fb9,  #9874c8, #9874c8, #d857df);
  cursor: pointer;
}

.specificSkill p {
  width: 100%;
}

.rightBordCreator {
  visibility: hidden;
  margin-left: 15px;
}

/* WORK EXPERIENCE & EDUCATION */

.containerTimeline {
margin: 10% 10% 0px 10%;
display: grid;
grid-template-columns: minmax(300px, 700px);
grid-auto-rows: auto;
}

.containerLavoro {
  width: 100%;
  display: grid;
  grid-template-columns: 90px 20px 1fr;
  grid-auto-rows: auto;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  grid-template-rows: auto 1fr;
}

.linea {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #726fb9;
  background-image: linear-gradient(to top, #726fb9,  #9874c8, #9874c8, #d857df);
}

.containerLavoro:nth-child(2n+0) .linea {
 background-color: #726fb9;
 background-image: linear-gradient(to bottom, #726fb9, #9874c8, #9874c8, #d857df);
}

#ultimoLavoro .linea {
  grid-row-end: 2;
}

.data {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.lavoroBox {
  grid-column-start: 3;
  grid-row-start: 1;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.titolettoLavoro {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: auto;
  align-items: start;
  margin-top: 10px;
  padding: 20px 20px 0px 20px;
}

.imgLavoro {
  width: 100%;
  height: 90px;
  grid-column-start: 1;
  grid-row-start: 1;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid lightgray;
  display: flex;
}

.imgLavoro img {
  width: 100%;
  align-self: center;
  justify-self: center;
}

.datoreDescrizioneTitolo {
  margin-left: 10px;
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.datoreDescrizioneTitolo p {
  margin: 5px 0px 0px 0px;
}

.datoreDescrizioneTitolo span {
  display: block;
  margin: 5px 0px 0px 0px;
  font-style: italic;
}

.datoreDescrizioneTitolo h3 {
  margin: 0px;
}

.datoreDescrizioneTitolo hr {
  margin-top: 10px;
}

.mansioni {
  padding: 0px 20px 20px 20px;
}

.mansioni ul {
  padding-left: 0;
  list-style-position: inside;
}

.mansioni li {
  margin-bottom: 10px;
}

.mansioni li:last-child {
  margin-bottom: 0;
}

.certificationsBox {
  margin: 0px 10% 10% 10%;
  min-width: 300px;
  max-width: 700px;
  border-radius: 15px;
}

.eachCertificationBox {
  display: flex;
  justify-content: space-between;
}

.eachCertification {
  margin: 10px;
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.imgCertification {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid lightgray;
  overflow: hidden;
  display: flex;
  align-self: center;
  background-color: white;
}

.imgCertification img {
  width: 90px;
  align-self: center;
  justify-self: center;
}

.eachCertification p {
  text-align: center;
}

.eachCertification span {
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

/*ACTIVITIES & INTERESTS*/

.activitiesWrapper {
  margin: 10%;
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  grid-gap: 20px;
}

.activityBox {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.activityDifferantiatorHr {
  margin-left: 100px;
}

.Interests h3 {
  margin-left: 10%;
}

.interesseBox {
  flex: 0 0 auto;
  width: 380px;
  overflow: hidden;
  margin: 20px 0px 20px 20px;
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: 100px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #726fb9;
  background-image: linear-gradient(to left top, #726fb9,  #9874c8, #9874c8, #d857df);
}

.interesseBox:first-child {
  margin-left: 10%;
}

.interesseBox img {
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  opacity: 0.2;
  filter: grayscale(100%);
}

.titoloInteresse {
  background-color: white; 
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;  
  height: 100%;
  z-index: 3;
}

.aggiustaTitoloInteresse {
  height: 100%;
  display: flex;
  align-content: center;
}

.aggiustaTitoloInteresse p {
  margin: auto auto;
  text-align: center;
}


/*BOTTONE*/

#sticky {
  display: none;
  position: fixed;
  bottom: 20%;
  right: 20%;
  width: 150px;
  height: 170px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

#chiudi {
  background-color: #726fb9;
  background-image: linear-gradient(to top left, #726fb9,  #9874c8, #9874c8, #d857df);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation:  pop 0.5s ease 1;
}

#chiudi i {
  font-size:48px;
  color:white;
}

#chiudi:hover {
  cursor: pointer;
}

#next {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation: wobble-hor-top 0.8s 3s both;
  animation: wobble-hor-top 0.8s 3s both;
}

#next p {
  text-align: center;
}

#next:hover {
  cursor: pointer;
}

.skillTrovata {
  	background-color:rgb(180,255,255);
	/*background-color:rgb(0,255,255, 0.3);*/
 }

footer {
  height: auto;
  font-size: 0.9em;
  text-align: center;
  color: white;
  padding: 30px;
  background-color: #726fb9;
  background-image: linear-gradient(to left top, #726fb9,  #9874c8, #9874c8, #d857df);
}

footer a:link, footer a:visited, footer a:active {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: aquamarine;
}
 
footer ul {
  list-style-type: none;
  padding-left: 0;
}

 




/*credit Animation*/
/* ----------------------------------------------
 * Generated by Animista on 2019-3-28 19:26:19
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-top
 * ----------------------------------------
 */
