@media screen and (max-width: 640px) {

  .navTesto {
      display: none;
  }

  .navIcon {
      display: initial;
  }

  .animazione {
    height: 120vh;
  }
  #barraRicerca, #dD, #go {
    display: none;
  }

  #hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr 30vh;
    background-image: url("/img/header/sfondo-hero-2.png");
  }

  #titleHero {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 3em;
    margin-top: 5vh;
  }

  #justRelax {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1.2em;
    padding: 20px;
  }

  #categoriesHero {
    grid-area: 4 / 1 / 5 / 2;
    margin-top: 0;
    padding: 0;
		flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
	}


  #goToSkillsM {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 140px;
    margin: 0px;
    text-align: center;
    border: 3px solid aqua;
    border-radius: 57% 43% 31% 69% / 23% 26% 74% 77%;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Cabin', sans-serif;
    font-size: 1em;
    align-self: center;
    justify-self: center;
  }

  #goToSkillsM i {
    font-size: 4em;
    color: #333;
  }


  .navWrapper * {
      margin: 0px 5px;
      text-align: center;
      }

    .corpoCV {
      transform: translateY(-20vh);
      padding-top: 1vh;
    }

      #demo {
        display: none;
      }
    .titoloSezione {
      text-align: center;
       }

       .titoloSezione h2 {
          margin-left: 0px;
        }

      .titoloSezione hr {
          margin-left: 0px;
          width: 100%;
      }

      .skillContainer {
          width: 250px;
      }
  
  .containerTimeline {
      margin: 10% 20px 0px 20px;
      }

  .containerLavoro {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
  }
  
  .timeline {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      display: grid;
      grid-template-columns: 1fr 3px 1fr;
      grid-template-rows: auto 1fr;
  }
  
  .linea {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      background-color: #0024ba;
      background-image: linear-gradient(to top, #001acd, #0024ba, #0029a6, #002c91, #1e2f92, #2d3293, #393594, #5d37aa, #8334bc, #ab29cb, #d500d5);
  
  }
  
  .data {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      margin-bottom: 30px;
      padding: 0px 20px;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      flex-direction: row;
      justify-self: center;
  }

  .data br {
      display: none;
  }
  
  .lavoroBox {
      z-index: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      border-radius: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      background-color: white;
  }
  
  .titolettoLavoro {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
  }
  
  .imgLavoro {
      height: 70px;
      width: 70px;
      grid-column-start: 1;
      grid-row-start: 1;
      align-self: center;
      justify-self: center;
  }
  
  .datoreDescrizioneTitolo {
      margin: 10px;
      grid-column-start: 1;
      grid-row-start: 2;
      display: flex;
      flex-direction: column;
      text-align: center;
  }
  
  .datoreDescrizioneTitolo p {
      margin-top: 5px;
  }
  
  .datoreDescrizioneTitolo span {
      margin-top: 3px;
      font-style: italic;
  }
  
  .datoreDescrizioneTitolo h3 {
      margin: 0px;
      width: 100%;
  }
  
  .datoreDescrizioneTitolo hr {
      margin-top: 10px;
      width: 100%;
  }
      
  .mansioni ul{
      text-align: justify;
      text-justify: inter-word;
      padding-left: 20px;
      list-style-position: outside;
    }

    .mansioni li {
      margin-bottom: 5px;
    }

    .certificationsBox {
        margin: 0px 20px 10% 20px;
    }

    .imgCertification {
      width: 70px;
      height: 70px;
    }

    .imgCertification img {
      width: 70px;
    }

    .activityDifferantiatorHr {
        display: none;
    }

    .activitiesWrapper {
        margin-left: 20px;
        margin-right: 20px;
    }

    .Interests h3 {
        margin-left: 0;
        text-align: center;
    }
    .interesseBox {
      width: 400px;
      grid-template-columns: 100px 1fr;
      margin-left: 20px;
      margin-right: 20px;
  }

    .interesseBox:first-child {
        margin-left: 20px;
        margin-right: 20px;
    }

    .rightBordCreator {
        display: none;
    }

    /*BOTTONE*/

  #sticky {
     width: 110px;
     height: 120px;
  }

  #chiudi {
      width: 80px;
      height: 80px;
  }

  #next {
      width: 100%;
      height: 30px;
  }
}

@media screen and (max-height: 640px) {
  body {
      font-size: 14px;
  }


}

@media screen and (max-height:450px) and (orientation: landscape) {

  body {
      font-size: 12px;
  }

  nav {
      margin-bottom: 0px;
  }

  .navWrapper {
      justify-content: flex-end;
      
  }

  .navWrapper * {
      margin: 0px 5px;
      text-align: center;
  
  }

  
 
}

